#intro-section {
    /* background-image: url("/Images/TempleNSBE.jpg");
    background-size: cover; 
    background-position: center; */


}

.intro-body {
    color: black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /*min-height: 100vh;*/
}

#about_page_body {
    color: black;
    display: flex;
    flex-direction: column;
    /*justify-content: center;
    align-items: center;*/
    padding-left: 10px;
    padding-right: 10px;
}